# mod_rewrite to update url starts header

RewriteEngine on

# if there is a directory with the same name as the file, ignore it
RewriteCond %{REQUEST_FILENAME} !-d

# check if the file exists
RewriteCond %{REQUEST_FILENAME}\.html -f

# if both conditions are true, display url with no extension
RewriteRule ^(.*)$ $1.html [NC,L]
